<!-- <div class="">
  <h2 class="center-align">{{ "Les livres" | uppercase }}</h2>
<div class="container">
  <div class="row">
    <div class="col s12">
      <table mat-table class="striped centered bordered" *ngIf="livres">
        <thead>
          <tr>
              <th>Titre</th>
              <th>Auteur</th>
              <th>Genre</th>
              <th>Disponibilité</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let livre of livres">
            <td><strong>{{livre.titre}}</strong></td>
            <td>{{livre.auteur.prenom + " " + livre.auteur.nom}}</td>
            <td>{{livre.genre}}</td>
            <td *ngIf="livre.nbreExemplaires > 0">
              <a mat-button class="waves-effect btn-emprunt btn-small" (click)="emprunter(livre)">
                <i class="material-icons right">book</i>Emprunter</a>
            </td>
            <td *ngIf="livre.nbreExemplaires <= 0">Non disponible</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<p-toast></p-toast> -->

<!-- <div class="mat-elevation-z8"> -->
  <h1 class="title1">Les Livres</h1>
  <div class="row filter">
    <mat-form-field class="searchFormField col" [class.s12]="!usagerConnecte || usagerConnecte.role=='USER'" [class.s11]="usagerConnecte && usagerConnecte.role=='ADMIN'">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="La reine Margot">
    </mat-form-field>
    <div class="col s1" *ngIf="usagerConnecte && usagerConnecte.role == 'ADMIN'">
      <a class="btn-floating creer action" title="Créer un livre" (click)="openDialog()"><i class="material-icons">add</i></a>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">   
    <ng-container matColumnDef="titre">
      <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.titre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fullNameAuteur">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Auteur</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fullNameAuteur}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Genre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.genre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nbreExemplaires">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre d'exemplaires</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nbreExemplaires}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <a *ngIf="usagerConnecte" [disabled]="element.nbreExemplaires <= 0 " (click)="emprunter(element)" class="btn-floating btn-small action" title="Empunter {{element.titre}}" style="margin-right: 20px;"><i class="material-icons">book</i></a> -->
        <!-- <a  class="btn-floating btn-small action" title="Modifier {{element.titre}}" (click)="editerLivre(element)"><i class="material-icons">create</i></a> -->
        <button *ngIf="usagerConnecte" [disabled]="element.nbreExemplaires <= 0 " (click)="emprunter(element)" class="btn-floating btn-small action" title="Empunter {{element.titre}}" style="margin-right: 20px;"><i class="material-icons">book</i></button>
        <button  class="btn-floating btn-small action" title="Modifier {{element.titre}}" (click)="editerLivre(element)"><i class="material-icons">create</i></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,15,20]" [pageSize]="5" [length]="30"></mat-paginator>
<!-- </div> -->

<p-toast></p-toast>


<!-- <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div> -->
