// $redDarkPrimary: #D32F2F;

$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

table.striped > tbody > tr:nth-child(odd) {
 
    //background-color: rgba(170, 213, 213, 0.5) !important;
    background-color: $primary-color-light;
   
  }

  // table.striped > tbody > tr:nth-child(even) {
 
  //   //background-color: rgba(170, 213, 213, 0.5);
  //   //background-color: $primary-color-light;
   
  // }

  h2 {
    color: $primary-color-dark;
  }

  // a {
  //   background-color: $primary-color-dark;
  //   color: $accent-color;
  // }

  .btn-emprunt {
    background-color: $primary-color-dark;
    color: $primary-color-text;
  }

  .btn-emprunt:hover {
    background-color: $primary-color;
    color: $accent-color;
  }

  // .tableLivres {
  //   width: 80%;
  //   margin: 50px auto;
  // }

  // .tableLivres .center {
  //   text-align: center !important;
  // }

  // mat-table {
  //   text-align: center !important;
  //   width: 70%;
  //   margin: auto;
  //   margin-top: 0px;
  // }

  // mat-header-cell, mat-cell {
  //   justify-content: center;
  // }

  // mat-paginator {
  //   width: 70%;
  //   margin: 0px auto;
  // }

  .emprunt {
    color: $accent-color !important;
    background-color: $primary-color-dark;
  }

  // .action {
  //   //background-color: $primary-color;
  //   background-color: $primary-color-text;
  // }

  // .action i {
  //   color: $primary-text-color;
  // }

  // .action:hover {
  //   background-color: $primary-text-color;
  // }

  // .action:hover i{
  //   color: $primary-color-text;
  // }

  // .searchFormField {
  //   border: 0px solid black;
  //   display: block;
  //   margin: 0px auto;
  //   margin-top: 50px;
  //   width: 70%;
  // }

  .bordure {
    border: 1px solid black;
  }

  // .filter {
  //   border: 0px solid black;
  //   display: block;
  //   margin: 0px auto;
  //   margin-top: 50px;
  //   width: 70%;
  //   padding-left: 0 !important;
  // }

//   .creer {
//     // margin-bottom: 20px;
//     // margin-left: 30px;
//     margin-top: 10px;
//     //background-color: $primary-color;
//   }

//   .searchFormField input {
//     border-bottom: 1px solid #000;
//   }

  // .searchFormField input:focus {
  //   outline-offset: 0px;
  //   border-bottom: 1px solid $primary-color;
  // }

//   ::ng-deep .mat-form-field-underline {
//     display: none;
// }

// .title1 {
//   text-align: center;
//   margin-top: 30px;
//   color: $primary-color-dark;
// }