<form [formGroup]="loginForm" class="col s12 white" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="text" formControlName="username" placeholder="Email">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input type="text" formControlName="password" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit col s12" type="submit" [disabled]="!loginForm.valid">Login
        <!-- <i class="material-icons right">send</i> -->
      </button>
    </div>
  </div>
</form>
<p-toast></p-toast>

