<div>
    <h1 mat-dialog-title class="center-align"><a (click)="closeDialog()" class="btn-floating btn-small right blue lighten-3"><i class="material-icons">close</i></a>Editer votre profil</h1>
    <form [formGroup]="editerUsagerForm" class="col s12 white" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" formControlName="prenom" placeholder="Firstname">
            <small class="red-text" *ngIf="prenom.errors?.required && prenom.touched">Le champ prénom est requis.</small>
            <small class="red-text" *ngIf="prenom.errors?.maxlength">Le champ prénom doit comporter maximum 15 caractères.</small>
          </div>
          <div class="input-field col s6">
            <input type="text" formControlName="nom" placeholder="Lastname">
            <small class="red-text" *ngIf="nom.errors?.required && nom.touched">Le champ nom est requis.</small>
            <small class="red-text" *ngIf="nom.errors?.maxlength">Le champ nom doit comporter maximum 15 caractères.</small>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" formControlName="email" placeholder="Email">
            <small class="red-text" *ngIf="email.errors?.required && email.touched">Le champ email est requis.</small><br>
            <small class="red-text" *ngIf="email.errors?.emailNotValid && email.touched && !email.errors?.required">Cette adresse mail n'est pas valide.</small>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit" [disabled]="!editerUsagerForm.valid || !formActivation">Envoyer
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form> 
      <button class="btn yellow" (click)="activate()">Editer</button>   
</div>