/* You can add global styles to this file, and also import other style files */
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.lienActif {
    background-color: white;
    color: black;
}

.noPadding .mat-dialog-container {
    padding: 0px !important;
}

mat-table {
    text-align: center !important;
    width: 70%;
    margin: auto;
    margin-top: 0px;
  }

  mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-paginator {
    width: 70%;
    margin: 0px auto;
  }

.filter {
    border: 0px solid black !important;
    display: block;
    margin: 0px auto;
    margin-top: 0px !important;
    width: 70%;
    padding-left: 0 !important;
  }

  .creer {
    // margin-bottom: 20px;
    // margin-left: 30px;
    margin-top: 10px;
    //background-color: $primary-color;
  }

  .searchFormField {
      margin-top: 15px;
  }

  .searchFormField input {
    border-bottom: 1px solid #000 !important;
  }

  .searchFormField input:focus {
    outline-offset: 0px;
    border-bottom: 1px solid black !important;
    box-shadow: 0 0px 0 0 $secondary-text-color !important;
  }

//   ::ng-deep .mat-form-field-underline {
//     display: none;
// }

.mat-form-field-underline {
    display: none;
    background-color: white !important;
}

.mat-form-field:focus {
    appearance: none !important;
}

.mat-form-field-label {
  color: $secondary-text-color !important;
}


.title1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px !important;
  color: $primary-color-dark;
}

.action {
    //background-color: $primary-color;
    background-color: $primary-color-text;
  }

  .action i {
    color: $primary-text-color;
  }

  .action:hover {
    background-color: $primary-text-color !important;
  }

  .action:hover i{
    color: $primary-color-text !important;
  }

  .action:focus {
    background-color: $primary-color-text;
    color: $primary-text-color;
  }

  .btn-large {
    background-color: $primary-color !important;
  }

