<div style="padding: 25px;">
    <h1 mat-dialog-title class="header center-align">Créer un administrateur <a (click)="closeDialog()"
            class="btn-floating btn-small right action"><i class="material-icons">close</i></a></h1>
    <form [formGroup]="registrationForm" class="col s12 white" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="prenom" formControlName="prenom">
                <label for="prenom">Firstname</label>
                <small class="red-text" *ngIf="prenom.errors?.required && prenom.touched">Le champ prénom est
                    requis.</small>
                <small class="red-text" *ngIf="prenom.errors?.maxlength">Le champ prénom doit comporter maximum 15
                    caractères.</small>
            </div>
            <div class="input-field col s6">
                <input type="text" id="nom" formControlName="nom">
                <label for="nom">LastName</label>
                <small class="red-text" *ngIf="nom.errors?.required && nom.touched">Le champ nom est requis.</small>
                <small class="red-text" *ngIf="nom.errors?.maxlength">Le champ nom doit comporter maximum 15
                    caractères.</small>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="email" formControlName="email">
                <label for="email">Email</label>
                <small class="red-text" *ngIf="email.errors?.required && email.touched">Le champ email est
                    requis.</small><br>
                <small class="red-text"
                    *ngIf="email.errors?.emailNotValid && email.touched && !email.errors?.required">Cette adresse mail
                    n'est pas valide.</small>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="password" formControlName="password">
                <label for="password">Password</label>
                <small class="red-text" *ngIf="password.errors?.required && password.touched">Le champ password est
                    requis.</small>
                <small class="red-text" *ngIf="password.errors?.minlength">Le champ password doit comporter au minimum 8
                    caractères.</small>
                <small class="red-text" *ngIf="password.errors?.maxlength">Le champ password doit comporter au maximum
                    12 caractères.</small>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="confirmPassword" formControlName="confirmPassword">
                <label for="confirmPassword">Confirm password</label>
                <small class="red-text" *ngIf="registrationForm.errors?.misMatch">Les deux mots de passe doivent être
                    identiques.</small>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn-large btn-submit" type="submit" [disabled]="!registrationForm.valid">Envoyer
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

</div>