<div>
  <h1 mat-dialog-title class="center-align"><a (click)="closeDialog()" class="btn-floating btn-small right blue lighten-3"><i class="material-icons">close</i></a> Coucou {{ data.name }}</h1>
<div mat-dialog-content class="center-align">
  <p>Voulez-vous emprunter {{ data.titre | uppercase }}?</p>
</div>
<!-- <div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="false">Non merci</button>
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>Oui</button>
</div> -->
  <div class="row">
    <button class="col s6" mat-flat-button id="yes-button" [mat-dialog-close]="true" cdkFocusInitial>Oui</button>
    <button class="col s6 red lighten-2" mat-flat-button id="no-button" [mat-dialog-close]="false">Non merci</button>
  </div>
</div>