$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.title1 {
  text-align: center;
  margin-top: 30px;
  color: $primary-color-dark;
}

  mat-table {
    text-align: center !important;
    width: 70%;
    margin: auto;
    margin-top: 0px;
  }

  mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-paginator {
    width: 70%;
    margin: 0px auto;
  }

  .filter {
    border: 0px solid black;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    width: 70%;
    padding-left: 0 !important;
  }

  .bordure {
    border: 1px solid black;
  }

  .creer {
    margin-top: 10px;
    background-color: $primary-color;
  }

  .creer:hover {
    background-color: $primary-color-dark;
  }

  .searchFormField input {
    border-bottom: 1px solid #000;
  }

  .searchFormField input:focus {
    outline-offset: 0px;
    border-bottom: 1px solid $primary-color;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
}

.details {
  background-color: $primary-color;
}

.details:hover {
  background-color: $primary-color-dark;
}
