$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.input-field input[type=text]:focus + label {
    color: $primary-color;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $primary-color;
    //box-shadow: 0 1px 0 0 #000;
  }

  .input-field .prefix.active {
    color: $primary-color;
  }
