// $redDarkPrimary: #D32F2F;

$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

table.striped > tbody > tr:nth-child(odd) {
    background-color: $primary-color-light;
   
  }

  h2 {
    color: $primary-color-dark;
  }

  .btn-emprunt {
    background-color: $primary-color-dark;
    color: $primary-color-text;
  }

  .btn-emprunt:hover {
    background-color: $primary-color;
    color: $accent-color;
  }

.mat-column-email {
    flex: 0 0 33% !important;
}

  .mat-column-actions {
      flex: 0 0 10% !important;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
}