<div class="">
    <h1 class="center-align">Liste des usagers</h1>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <table class="striped centered bordered" *ngIf="listeUsagers">
          <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
          </thead>
    
          <tbody>
            <tr *ngFor="let usager of listeUsagers">
              <td><strong>{{ usager.prenom }}</strong></td>
              <td><strong>{{ usager.nom }}</strong></td>
              <td>{{ usager.email }}</td>
              <td>{{ usager.role }}</td>
              <!-- <td><a routerLink="/home/usager/role/{{usager.id}}" class="btn-floating btn-small blue" title="Editer le role de {{usager.prenom}}"><i class="material-icons">create</i></a></td> -->
              <td><a (click)="openDialog(usager)" class="btn-floating btn-small blue" title="Editer le role de {{usager.prenom}}"><i class="material-icons">create</i></a></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  <p-toast></p-toast>
  