<h1 class="title1">Les Usagers</h1>
<div class="row filter">
  <mat-form-field class="searchFormField col s11">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Romain">
  </mat-form-field>
  <div class="col s1" *ngIf="usagerConnecte && usagerConnecte.role == 'ADMIN'">
    <a class="btn-floating creer action" title="Créer un administrateur" (click)="openDialogCreateAdmin()"><i
        class="material-icons">add</i></a>
  </div>
</div>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
    <mat-cell *matCellDef="let element"><strong>{{element.prenom}} &nbsp;&nbsp; {{element.nom}}</strong></mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
    <mat-cell *matCellDef="let element"><strong>{{element.role}}</strong></mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="actions"></mat-header-cell>
    <mat-cell *matCellDef="let element" class="actions">
      <a (click)="openDialog(element)" class="btn-floating btn-small action"
        title="Modifier le rôle de {{element.prenom + ' ' + element.nom}}"><i class="material-icons">create</i></a>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5,10,15,20]" [pageSize]="5" [length]="30"></mat-paginator>

<p-toast></p-toast>