$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.activated {
    //background-color: white;
    background-color: $primary-color-dark !important;
}

.activated:hover {
    background-color: $primary-color-dark !important;
}

.nonActive {
    background-color: $primary-color-light;
}

.nonActive:hover {
    background-color: $primary-color !important;
}

// .btn-large.test {
//     background-color: ;
// }
